nav {
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(61, 167, 212);
    border-radius: 2em;
    padding: 1em;
    font-family: 'Concert One', cursive; 
}
nav a {
    padding-left: 5em;
    color: rgb(61, 167, 212);
    font-family: 'Montserrat', sans-serif; 
}
.row {
    display: flex;
}
.left-column {
    height: 40vh;
    flex: 40%;
}
.right-column {
    height: 40vh;
    flex: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent;
    padding-top: 2em;
    margin-top: 50px;
}
#right-col-home {
    background-image: url(Images/shark1.png); 
}
#right-col-about {
    background-image: url(images/shark2.png); 
}
#right-col-members {
    background-image: url(images/whaleshark.png); 
}
.main-heading {
    font-family: 'Concert One', cursive;
    font-size: 4em;
    color: rgb(61, 167, 212);
    padding-left: 2em;
}
#content-area {
    font-family: 'Montserrat',sans-serif;
    margin-top: 6em;
}
#layout-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#password-area {
    margin-top: 5em;
}